<mat-card>
  <mat-card-title>Login</mat-card-title>
<!--  <mat-card-content>-->
<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Email</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input matInput type="email">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;    <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-label>Password</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input matInput type="password">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--  </mat-card-content>-->
  <mat-card-actions>
      <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
  </mat-card-actions>
</mat-card>
